html,
body {
  margin: 0;
  padding: 0;;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

body{
  &.produit,&.comptbody{
    min-height:100vh;
    height: auto;
    overflow: hidden;
    background-color: #aeabc8;
  }
  &.statusCommande{
    position: fixed;
    height:100vh;
    overflow: hidden;
  }
  height:490vh;
  overflow: hidden;
  position: relative;
}

*{
  box-sizing: border-box;
}