.intro{
  margin:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
  position: relative;
  background-color: #AFACC8;
  position: fixed;
  &.bgPaper{
    background:#efefef;
    background-image:
      linear-gradient(90deg, grey 1px, transparent 0),
      linear-gradient(grey 1px, transparent 0);
    background-size:20px 20px;
  }
}

.intro__rang{
  position: absolute;
  bottom: -40px;
  width:43vw;
  left:0;
  margin-top:170vh;
  &--left{
    transition: all 0.7s;
    transform: scaleX(-1);
    right:0;
    left:auto;
    &.fadeOut{
      right:-20vw;
    }
    &.fadeOutOut{
      right:-43vw;
    }
  }
  &--right{
    left:0;
    transition: all 0.7s;
    &.fadeOut{
      left:-20vw;
    }
    &.fadeOutOutOut{
      right:-43vw;
    }
  }
}

.intro__clock{
  position: absolute;
  top:5vw;
  right:4vw;
  width:9vw;
}

.intro__teacher{
  position: absolute;
  bottom: -4vw;
  left:10vw;
  width:12.5vw;
  transition: all 0.7s;
  &.fadeOut{
    left:-43vw;
  }
}

.intro__tablau{
  box-sizing: border-box;
  position: fixed;
  top:10vw;
  width: 50vw;
  height:28vw;
  border-radius:1vw;
  border:1vw solid grey;
  left:25vw;
  background-color: #fff;
  transition: all 0.7s;
  display: flex;
  align-items: center;
  &.commande{
    left:15vw;
    width: 70vw;
    height:80vh;
    top:15vh;
  }
}

.hp{
  .intro__tablau{
    &.toWhite{
      left:-5vw;
      width: 110vw;
      height:75vh;
      top:-5vh;
    }
    &.toTop{
      left:-15vw;
      width: 130vw;
      height:10vh;
      top:-5vh;
    }
  }
}

.tableau__text{
  position: absolute;
  width:90%;
  left:5%;
  //top:2vw;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.4em;
  opacity: 0;
  margin-top: 0.5vw;
  .tableau__text__titre{
    margin-top: 30px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  &.tableau__text--1{
    opacity: 1;
    transition: all 0.1s;
    height:auto;
    &.fadeOut{
      opacity:0;
    }
  }
}

button{
  margin:0 auto;
  display: block;
  width:40%;
  padding:10px;
  border-radius: 10vw;
  margin-top: 30px;
  background-color: #48437D;
  color: #fff;
  font-size: 0.7em;
  &.button--alert{
    background-color:#1A192B;
  }
  &:hover{
    background-color: #2C2764;
  }
  &.button__commande--2-upload{
    background-color: #c4c4c4;
  }
}

.down {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  z-index: 3;
  bottom:2vw;
  left:49vw;
  transition: all 0.3s;
  opacity: 1;
  &.fadeOut{
    opacity: 0;
  }

  animation: arrow .5s ease-in-out infinite alternate;
  @keyframes arrow{
    from{transform: translateY(-5px) rotate(45deg)}
    to{transform: translateY(5px) rotate(45deg)}
  }
}

.hp{
  .tableau__text{
    opacity: 0;
  }
  .tableau__text--1{
    opacity: 1;
    height:auto;
    z-index: 3;
  }
}

.step1{
  .tableau__commande--1{
    opacity: 1;
    z-index: 4;
  }
}

.checkview{
  background-color: grey;
  width: 30vw;
  margin: 2vw;
  height: 15vw;
  //display: block;
  //margin: 10px auto;
  &.checkview--resultat{
    background-color: rgb(235, 230, 230);
    padding:15px;
  }
  
}

//enfant
.buttonBox{
  display: flex;
  justify-content: center;
  button{
    margin:0 10px;
    width: 30%;
  }
}



// 3D
.tableau__commande--4{
  width: 100%;
  left:0;
  height:100%;
  background-color: red;
  position: relative;
  .button__commande--4{
    width:100px;
    position: absolute;
    margin:10px;
    bottom:0;
    right:0;
  }
}


.text--small{
  font-size: 0.6em;
}


input{
  display: block;
  width:20vw;
  margin:0 auto;
  border: none;
  border-bottom: 3px solid black;
  background-color: #efefef;
  padding:5px;
  height:40px;
  font-size: 1em;
  text-align: center;
}

.input--age{
  width:50px;
}

.imput__description{
  font-size: 0.7em;
  text-align: left;
}

form{
  .box{
    margin-bottom: 10px;
  }
  .box--mt{
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.link--text{
  text-decoration: underline;
}

table{
  width:80%;
  margin-left: 10%;
  tr{
    border-bottom:#efefef solid 3px;
    &:last-child{
      border-bottom:none;
      td{
        font-weight: bold;
      }
    }
  }
  td,th{
    text-align: left;
  }
  th{
    font-weight: bold;
  }
}


//Progression
.barProgression{
  position: absolute;
  top:2.2vw;
  z-index: 8;
  transition: all 0.7s ease-in-out;
  left:-100%;
}
.statusCommande{
  .barProgression{
    left:2vw;
    width:50%;
    height:0.5vw;
    border-radius: 2vw;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    .barProgression__point{
      margin-top:-0.5vw;
      width:1.5vw;
      height:1.5vw;
      border-radius: 50%;
      background-color: #efefef;
      transition: all 0.2s 0.2s ease-in;
    }
    .barProgression--active{
      position: absolute;
      height:100%;
      border-radius: 2vw;
      width:0%;
      background-color: #48437D;
      transition: all 0.2s ease-in;
    }
  }
}

.teaser{
  transition: all 0.1s;
  opacity: 0;
  text-align: center;
  font-size: 2em;
  width: 40%;
  left:30%;
  line-height: 1.2em;
  position: fixed;
  z-index: 3;
  top:25vh;
  text-align: center;
  &.fadeIn{
    opacity: 1;
  }
}

.teaser--2{
  position: relative;
  z-index: 25;
  opacity: 1;
  top:20vw;
  left:20%;
  font-weight: bold;
  font-size: 2.8em;
  line-height: 1.35em;
  transform: rotate(-8deg);
  font-family: 'Schoolbell', cursive;
}



.test{
  height:170vh;
  background-color: red;
  width:100vw;
}

.avantages{
  z-index: 20;
  position: relative;
  width:80vw;
  left:10vw;
  top:0;
  transition: all .5s ease-in-out;
}

h2{
  width:100%;
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  &:after{
    position: absolute;
    bottom: 0;
    content:"";
    width:30%;
    height:5px;
    background-color: black;
    left:35%;
    bottom: -20px;
    border-radius:2vw;
  }
}

.boxs--avantages{
  display: flex;
  //position: relative;
  
  justify-content: space-between;
  // width:80vw;
  // left:10vw;
  // top:0;
  // transition: all .5s ease-in-out;
  .box--avantage{
    border-radius:1vw;
    border:1vw solid grey;
    padding:30px 50px;
    width:25%;
    background-color: #fff;
    text-align: center;
    img{
      margin-bottom: 30px;
    }
    p{
      font-size: 1.3em;
      line-height: 1.2em;
    }
  }
}

.bg{
  position:relative;
  transition:all 1s ease-in-out;
  top:0vw;
  left:15vw;
  height:125vw;
  border-radius:40px;
  background:#efefef;
  background-image:
    linear-gradient(90deg, grey 1px, transparent 0),
    linear-gradient(grey 1px, transparent 0);
  background-size:20px 20px;
  z-index: 19;
  &.moveUp{
    top:-30vw;
  }
}



.new{ 
  width: 85vw;
  left:-8vw;
  position: relative;
  top:25vw;
  overflow: hidden;
  
  figure{
    position: absolute;
    width:50%;
    height:100%;
    display: block;
    overflow: hidden;
    img{
      height:100%;
      display: block;
    }
  }
  .new__textbox{
    margin-left: 50%;
    width:50%;
    padding:5vw;
    font-size: 1.3em;
    line-height: 1.2em;

    button{
      margin-left: 0;
    }
  }
}

.bold{
  font-weight: bold;
}

.headline--new{
  position: relative;
  top:-60px;
}

.box--name{
  width: 100%;
  display: flex;
  .icon--directrice{
    width:80px;
    height:80px;
    border-radius: 50%;
    border:solid 5px black;
    background-color: #fff;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
  }
  p{
    margin-top: 15px;
  }
}

.fade--1{
  .icon--directrice{
    background-image: url("../img/mec--1.jpg");
  }
}
.fade--2{
  .icon--directrice{
    background-position:10% 10%;
    background-image: url("../img/mec--2.jpeg");
  }
}
.fade--3{
  .icon--directrice{
    background-image: url("../img/mec--3.jpeg");
  }
}


//slider
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius:1vw;
    border:1vw solid grey;
}

.wrap--slider{
  display:flex;
  align-items: flex-start;
}

/* The dots/bullets/indicators */
.box--dot{
  position: absolute;
  bottom:4vw;
  left:47vw;
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.moeble{
  //background-color: #fff;
  background-color: #48437D;
  color: #fff;
  position: relative;
  top:-80vw;
  z-index: 27;
  padding-top:5vw;
  padding-bottom: 3vw;
  //border-bottom: 4vw solid white;
  h2{
    &:after{
      background-color: #fff;
    }
  }
}

.box--moeble{
  width:90vw;
  flex-wrap: wrap;
  margin-left:5vw;
  display: flex;
  justify-content: space-between;
  
  .box{
    width:20vw;
    margin-bottom: 50px;
    background-color: #ffff;
    border-radius:20px;
    padding:20px;
    position: relative;
    
    img{
      width:100%;
      margin-bottom: 10px;
    }
    button{
      position: absolute;
      width:70%;
      left:15%;
      bottom:-15px;
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.end{
  position: absolute;
  bottom:5vw;
  z-index: 50;
  width: 100%;

  .teaser--3{
    position: relative;
    top:0;
    opacity: 1;
  }

  .end__button{
    width:30%;
    left:35%;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    
  }
}

body{
  &.statusCommande{
    .end{
      display: none;
      
    }
  }
}





